*{
    margin: 0px;
    padding: 0px;
}
h1{
    background-color: antiquewhite;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-top: 50px;
}
div{
    display: flex;
    justify-content: center;
    margin-top: 20px;
   
}
